In [1]:
import pandas as pd
import regex as re
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from nltk.tokenize import word_tokenize
import nltk
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
nltk.download('punkt')
pd.set_option('display.max_rows',None)
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package punkt to /Users/ranggi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

## Data MUA for Memory Based System Recommendation

In [2]:
class ContentBasedFiltering:
    def case_folding(self, text):
        if type(text) == str:
            text = text.lower()
        return text

    def punctuation_removal(self, text):
        if type(text) == str:
            text = re.sub(r'[^\w\s]', '', text)
        return text

    def tokenize(self, text):
        tokens = word_tokenize(text)
        return tokens
        
    def stopwords_removal(self, text):
        stopword_factory = StopWordRemoverFactory()
        stopword_remover = stopword_factory.create_stop_word_remover()
        no_stopword = stopword_remover.remove(text)
        return no_stopword

    def preprocessing(self, text):
        text = self.case_folding(text)
        text = self.punctuation_removal(text)
        text = self.stopwords_removal(text)
        return text

In [3]:
data = pd.read_excel('./web_mua/static/Data MUA 2.xlsx')
data.head()

,no,nama,nama_MUA,latitude,longitude,produk_makeup,shade,skin_color,skin_undertone,kategori_harga,latitude.1,longtitude,rating
0,1,Anggia Pradita A,Intan Rias Pengantin,-8.233613,113.686384,la tulipe cover foundation,natural (putih),light,cool,Murah,-8.233613,113.66733,4
1,1,Anggia Pradita A,Intan Rias Pengantin,-8.233613,113.686384,la tulipe cover foundation,suntan (sawo matang),medium,warm,Murah,-8.233613,113.66733,4
2,2,VIKA APRILIA SINTA PUTRI,Sanggar Rias Cantik Tina,-8.221109,113.680964,la tulipe cover foundation,rachel 1 (kuning langsat),medium,neutral,Murah,-8.233613,113.66733,5
3,2,VIKA APRILIA SINTA PUTRI,Sanggar Rias Cantik Tina,-8.221109,113.680964,la tulipe cover foundation,suntan (sawo matang),medium,warm,Murah,-8.233613,113.66733,5
4,3,septia maharani,Rias Pengantin Azizah,-8.234863,113.680670,la tulipe cover foundation,natural (putih),light,cool,Sedang,-8.233613,113.66733,3

In [4]:
def cleaning_data(data):
    cleaned_data = []
    CBF = ContentBasedFiltering()
    for i in range(len(data)):
        cleaned_data.append(CBF.preprocessing(str(data[i])))
    return cleaned_data

In [5]:
#praproses data untuk nama
data['nama'] = cleaning_data(data['nama'])

In [6]:
data_for_model = data.copy()
data_for_user = data.copy()

#praproses data untuk deskripsi
data_for_model['desc'] = data['produk_makeup'] + ' ' + data['shade'] + ' ' + data['skin_color'] + ' ' + data['skin_undertone']
data_for_model['desc'] = cleaning_data(data_for_model['desc'])
data_for_user['desc'] = data['produk_makeup'] + ' ' + data['skin_color'] + ' ' + data['skin_undertone']
data_for_user['desc'] = cleaning_data(data_for_user['desc'])

In [7]:
# data_for_model = data_for_model.groupby('no').agg({'nama':'first', 'nama_MUA':'first', 'kategori_harga': 'first', 'latitude':'first', 'longtitude':'first', 'rating':'first','desc':' '.join}).reset_index()
data_for_model = data_for_model.sort_values(by=['nama'], ignore_index=True)

data_for_user = data_for_user.sort_values(by=['nama'], ignore_index=True)
data_for_user = data_for_user.drop(columns=['shade'])

In [8]:
data_for_model.head()

,no,nama,nama_MUA,latitude,longitude,produk_makeup,shade,skin_color,skin_undertone,kategori_harga,latitude.1,longtitude,rating,desc
0,53,adera zia,Dinda Wijaya Make Up,-8.193711,113.619405,LT Pro smooth corrector cream foundation,natural (kuning langsat),medium,neutral,Sedang,-8.193711,113.616830,5,lt pro smooth corrector cream foundation natur...
1,79,adera zia,Bonita MUA Jember,-8.139019,113.731123,LT Pro smooth corrector cream foundation,natural (kuning langsat),medium,neutral,Sedang,-8.139019,113.728548,4,lt pro smooth corrector cream foundation natur...
2,79,adera zia,Bonita MUA Jember,-8.139019,113.731123,la tulipe cover foundation,suntan (sawo matang),medium,warm,Sedang,-8.139019,113.728548,4,la tulipe cover foundation suntan sawo matang ...
3,48,adera zia,Ardie Make Up & Salon,-8.144589,113.719387,la tulipe cover foundation,suntan (sawo matang),medium,warm,Sedang,-8.157255,113.652074,3,la tulipe cover foundation suntan sawo matang ...
4,48,adera zia,Ardie Make Up & Salon,-8.144589,113.719387,LT Pro smooth corrector cream foundation,plum rose (putih),light,cool,Sedang,-8.157255,113.652074,3,lt pro smooth corrector cream foundation plum ...

In [9]:
data_for_user.head()

,no,nama,nama_MUA,latitude,longitude,produk_makeup,skin_color,skin_undertone,kategori_harga,latitude.1,longtitude,rating,desc
0,53,adera zia,Dinda Wijaya Make Up,-8.193711,113.619405,LT Pro smooth corrector cream foundation,medium,neutral,Sedang,-8.193711,113.616830,5,lt pro smooth corrector cream foundation mediu...
1,79,adera zia,Bonita MUA Jember,-8.139019,113.731123,LT Pro smooth corrector cream foundation,medium,neutral,Sedang,-8.139019,113.728548,4,lt pro smooth corrector cream foundation mediu...
2,79,adera zia,Bonita MUA Jember,-8.139019,113.731123,la tulipe cover foundation,medium,warm,Sedang,-8.139019,113.728548,4,la tulipe cover foundation medium warm
3,48,adera zia,Ardie Make Up & Salon,-8.144589,113.719387,la tulipe cover foundation,medium,warm,Sedang,-8.157255,113.652074,3,la tulipe cover foundation medium warm
4,48,adera zia,Ardie Make Up & Salon,-8.144589,113.719387,LT Pro smooth corrector cream foundation,light,cool,Sedang,-8.157255,113.652074,3,lt pro smooth corrector cream foundation light...

In [10]:
data_for_model.shape

(179, 14)

In [11]:
from sklearn.preprocessing import LabelEncoder

harga_labels = LabelEncoder()
harga_labels = harga_labels.fit(data['kategori_harga'])
harga_labels.classes_ = np.array(['Murah', 'Sedang', 'Mahal'])
data_for_model['kategori_harga'] = harga_labels.transform(data_for_model['kategori_harga'])
data_for_user['kategori_harga'] = harga_labels.transform(data_for_user['kategori_harga'])

In [12]:
data_for_model.head()

,no,nama,nama_MUA,latitude,longitude,produk_makeup,shade,skin_color,skin_undertone,kategori_harga,latitude.1,longtitude,rating,desc
0,53,adera zia,Dinda Wijaya Make Up,-8.193711,113.619405,LT Pro smooth corrector cream foundation,natural (kuning langsat),medium,neutral,1,-8.193711,113.616830,5,lt pro smooth corrector cream foundation natur...
1,79,adera zia,Bonita MUA Jember,-8.139019,113.731123,LT Pro smooth corrector cream foundation,natural (kuning langsat),medium,neutral,1,-8.139019,113.728548,4,lt pro smooth corrector cream foundation natur...
2,79,adera zia,Bonita MUA Jember,-8.139019,113.731123,la tulipe cover foundation,suntan (sawo matang),medium,warm,1,-8.139019,113.728548,4,la tulipe cover foundation suntan sawo matang ...
3,48,adera zia,Ardie Make Up & Salon,-8.144589,113.719387,la tulipe cover foundation,suntan (sawo matang),medium,warm,1,-8.157255,113.652074,3,la tulipe cover foundation suntan sawo matang ...
4,48,adera zia,Ardie Make Up & Salon,-8.144589,113.719387,LT Pro smooth corrector cream foundation,plum rose (putih),light,cool,1,-8.157255,113.652074,3,lt pro smooth corrector cream foundation plum ...

In [13]:
data_for_user.head()

,no,nama,nama_MUA,latitude,longitude,produk_makeup,skin_color,skin_undertone,kategori_harga,latitude.1,longtitude,rating,desc
0,53,adera zia,Dinda Wijaya Make Up,-8.193711,113.619405,LT Pro smooth corrector cream foundation,medium,neutral,1,-8.193711,113.616830,5,lt pro smooth corrector cream foundation mediu...
1,79,adera zia,Bonita MUA Jember,-8.139019,113.731123,LT Pro smooth corrector cream foundation,medium,neutral,1,-8.139019,113.728548,4,lt pro smooth corrector cream foundation mediu...
2,79,adera zia,Bonita MUA Jember,-8.139019,113.731123,la tulipe cover foundation,medium,warm,1,-8.139019,113.728548,4,la tulipe cover foundation medium warm
3,48,adera zia,Ardie Make Up & Salon,-8.144589,113.719387,la tulipe cover foundation,medium,warm,1,-8.157255,113.652074,3,la tulipe cover foundation medium warm
4,48,adera zia,Ardie Make Up & Salon,-8.144589,113.719387,LT Pro smooth corrector cream foundation,light,cool,1,-8.157255,113.652074,3,lt pro smooth corrector cream foundation light...

## User Input

In [14]:
# use this parameter to get some MUA recommendations
def data_preparation(data_for_model, data_for_user, index_user, user):
    du = data_for_user.copy()
    query_data = du.iloc[[index_user]].reset_index()
    query_data_todict = query_data.to_dict('index')[0]
    part_of_model = data_for_model.copy()
    part_of_model = part_of_model.loc[part_of_model.nama_MUA != query_data.nama_MUA[0]].reset_index()
    part_of_query = part_of_model.loc[part_of_model['nama'] == user].reset_index()
    part_of_model = part_of_model.reset_index()
    part_of_model = part_of_model.drop(columns='index')
    return query_data_todict, part_of_query, part_of_model

# example of input data
find_user = data_for_user.index[data_for_user['nama'] == 'adera zia'].to_list()
txt_user = 'adera zia'
query_data_todict, part_of_query, part_of_model = data_preparation(data_for_model, data_for_user, find_user[0], txt_user)
# part_of_model = data_preparation(data_for_model, data_for_user, find_user[0], txt_user, first=False)

## Calculating Cosine Similarity for Content Based Model

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import normalize
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import NMF
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
import gensim

def tf_idf_vector(part_of_model, query_data_todict):
    copy_md = part_of_model.copy()
    md = pd.DataFrame(copy_md["desc"])
    md.loc[len(md)] = query_data_todict["desc"]
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(md["desc"])
    model = X[:len(part_of_model)]
    query = X[len(part_of_model):]
    return model, query

def doc2vec_vector(part_of_model, query_data_todict):
    copy_md = part_of_model.copy()
    md = pd.DataFrame(copy_md["desc"])
    md.loc[len(md)] = query_data_todict["desc"]
    words_split = []
    for i in range(len(md)):
        words_split.append([word for word in md["desc"][i].split()])
    documents = []
    for i, list_of_words in enumerate(words_split):
        documents.append(gensim.models.doc2vec.TaggedDocument(words=list_of_words, tags=['doc'+str(i)]))
    model = gensim.models.doc2vec.Doc2Vec(vector_size=40, min_count=2, epochs=30)
    model.build_vocab(documents)
    model.train(documents, total_examples=model.corpus_count, epochs=30)
    # vectorizer = TfidfVectorizer()
    # X = vectorizer.fit_transform(md["desc"])
    # nmf_model = NMF(10)
    # doc_topic = nmf_model.fit_transform(X)
    vec_model = []
    for i in range((len(part_of_model))):
        vec_model.append(model.infer_vector(md["desc"][i].split()))
    vec_query = model.infer_vector(md["desc"][len(md["desc"])-1].split())
    # print(vec_query)
    return vec_model, vec_query

In [16]:
from geopy.distance import great_circle
import math
def calculate_distance(query_data_todict, part_of_model):
        loc1 = (query_data_todict['latitude'], query_data_todict['longtitude'])
        distance_loc = []
        for i in range(len(part_of_model.index)):
            loc2 = (part_of_model['latitude'][i], part_of_model['longtitude'][i])
            tmp = great_circle(loc1, loc2).km
            value = math.ceil(tmp * 100) / 100
            distance_loc.append(value)
        return distance_loc

In [24]:
from gensim import similarities
from scipy import spatial 
import torch

def doc2vec_model(sentences1, sentences2, model):
    res = []
    for sentence1, sentence2 in zip(sentences1, sentences2):
        res.append(model.similarity_unseen_docs(sentence1, sentence2))
    return torch.tensor(res)

def get_numtext_content(query_data_todict, part_of_model, tfidf=False):
    if tfidf == False:
        vec_model, vec_query = doc2vec_vector(part_of_model, query_data_todict)
        cos_sim = []
        for i in range(len(vec_model)):
            cos_sim.append(spatial.distance.cosine(vec_model[i], vec_query))
        distance = calculate_distance(query_data_todict, part_of_model)
        return cos_sim, distance
    else:
        tfidf_model, tfidf_query = tf_idf_vector(part_of_model, query_data_todict)
        cos_sim = cosine_similarity(tfidf_query, tfidf_model)
        data_sim = cos_sim.reshape(-1,1)
        distance = calculate_distance(query_data_todict, part_of_model)
        return data_sim, distance

In [25]:
# x, y = get_numtext_content(query_data_todict, part_of_model)

In [48]:
from sklearn.preprocessing import StandardScaler

def get_values(part_of_model):
    tmp_data = part_of_model[['kategori_harga','latitude', 'longitude']].to_numpy()
    sim_num = cosine_similarity(tmp_data)
    sim_num = np.array([np.mean(p) for p in sim_num])
    return sim_num

In [49]:
def value_of_mua(query_data_todict, part_of_model, tfidf=False):
    sim, distance = get_numtext_content(query_data_todict, part_of_model, tfidf)
    part_of_model["sim"] = sim
    part_of_model["distance"] = distance
    sim_num = get_values(part_of_model)
    part_of_model["sim_num"] = sim_num
    part_of_model = part_of_model.sort_values(by=['nama_MUA'])
    nama_mua = part_of_model["nama_MUA"].unique()
    value_mua = np.empty(len(nama_mua), dtype=float)
    for i in range(len(nama_mua)):
        tmp_val = []
        for j in range(len(part_of_model.index)):
            if nama_mua[i] == part_of_model.nama_MUA[j]:
                tmp_val.append(part_of_model["sim_num"][j] + part_of_model["sim"][j])
        value_mua[i] = np.mean(tmp_val)
    part_of_model = part_of_model.reset_index()
    part_of_model = part_of_model.drop(columns='index')
    return nama_mua, value_mua, part_of_model

## FIND USER

In [50]:
unique_user = data_for_model['nama'].unique()
unique_user
query_user = ['adera zia', 'anggia pradita a', 'anissa serina', 'calista devi aqilah', 'callista febriana erwanto', 'dwi rahma', 'maulina vira', 
              'vika aprilia sinta putri', 'yuricha mahargiyani wijaya', 'zainata hanum masruroh', 'zyanti laila']
selected_user = []
for i in query_user:
    find_user = data_for_model.index[data_for_model['nama'] == i].to_list()
    selected_user.append(find_user[0])
selected_user

[0, 10, 20, 33, 45, 73, 101, 142, 151, 161, 169]

## HYBRID FILTERING

In [51]:
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing as pre
import statistics

In [79]:
#chosen user for testing
def hybrid_evaluation(data_for_model, data_for_user, selected_user, query_user, tfidf=False):
    actual_hyb = []
    table_hyb = []
    rating_hyb = []
    for index_user in range(len(selected_user)):
        query_data_todict, part_of_query, part_of_model = data_preparation(data_for_model, data_for_user, selected_user[index_user], query_user[index_user])
        nama_mua, value_mua, part_of_model = value_of_mua(query_data_todict, part_of_model, tfidf)
        pivot = pd.pivot_table(part_of_model, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
        col_model = pivot.columns.tolist()
        val_model = np.array(pivot.values.tolist(), dtype=float)
        nama_user = np.array(pivot.index.tolist())
        pivot_query = pd.pivot_table(part_of_query, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
        val_query = pivot_query.values.tolist()
        col_query = pivot_query.columns.tolist()
        feature = np.zeros(len(col_model), dtype=float)
        for i in range(len(col_model)):
            for j in range(len(col_query)):
                if col_model[i] == col_query[j]:
                    feature[i] = val_query[0][j]
                    break
        
        cos_sim_user = cosine_similarity([feature], val_model)

        weight_user = np.empty(len(part_of_model), dtype=float)
        for i in range(len(part_of_model)):
            for j in range(len(nama_user)):
                if part_of_model["nama"][i] == nama_user[j]:
                    weight_user[i] = cos_sim_user[0][j]
        
        weight_content = np.empty(len(part_of_model), dtype=float)
        for i in range(len(part_of_model)):
            for j in range(len(nama_mua)):
                if part_of_model["nama_MUA"][i] == nama_mua[j]:
                    weight_content[i] = value_mua[j]
        
        final_res = part_of_model.copy()
        final_res = final_res[['nama', 'nama_MUA']]
        final_res['user'] = weight_user
        final_res['content'] = weight_content
        
        mean_weight = np.zeros(len(part_of_model), dtype=float)
        for i in range(len(part_of_model)):
            mean_weight[i] = statistics.harmonic_mean([weight_user[i] + np.min(weight_user[np.nonzero(weight_user)]),  weight_content[i]]) 
        final_res['mean_'] = mean_weight
        higher_value = final_res.copy()
        higher_value = final_res.groupby("nama", as_index=False).mean_.agg(["mean"])
        u = final_res.groupby("nama", as_index=False).user.agg(["mean"])
        higher_value['weight_user'] = u['mean']
        c = final_res.groupby("nama", as_index=False).content.agg(["mean"])
        higher_value['weight_content'] = c['mean']
        higher_value = higher_value.sort_values(by=['mean'], ignore_index=True, ascending=False)
        list_nama = higher_value.nama[:15].tolist()
        pivot = part_of_model.copy()
        pivot['mean_'] = mean_weight
        pivot = pivot[pivot.nama.isin(list_nama)].reset_index()
        pivot_ = pivot.groupby("nama_MUA").rating.agg(['count','mean'])
        pivot_['weight'] = pivot.groupby("nama_MUA").mean_.agg(['mean'])
        pivot_['predicted'] = pivot_["mean"] * pivot_['weight']
        pivot_ = pivot_.sort_values(by=["predicted"], ascending=False)
        value_rating = np.zeros(len(col_model), dtype=float)
        for i in range(len(pivot_.index)):
            for j in range(len(col_model)):
                if value_rating[j] == 0.0:
                    if col_model[j] == pivot_.index[i]:
                        if pivot_['weight'][i] != 0.0:
                            value_rating[j] = pivot_["mean"][i] * pivot_['weight'][i]
                        else:
                            value_rating[j] = weight_content[i]
                else:
                    continue
        
        pivot_label = pd.pivot_table(part_of_query, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
        val_label = pivot_label.values.tolist()
        col_label = pivot_label.columns.tolist()
        final_label = np.zeros(len(col_model), dtype=float)
        for i in range(len(col_model)):
            for j in range(len(col_label)):
                if col_model[i] == col_label[j]:
                    final_label[i] = val_label[0][j]
                    break

        tmp_data_recs = {'nama_mua':nama_mua, 'score':value_rating}
        mua_recs = pd.DataFrame(tmp_data_recs).sort_values(by=['score'], ignore_index=True, ascending=False)
        pivot_label = pd.pivot_table(part_of_query, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
        val_label = pivot_label.values.tolist()
        col_label = pivot_label.columns.tolist()
        final_label = np.zeros(len(col_model), dtype=float)
        for i in range(len(col_model)):
            for j in range(len(col_label)):
                if col_model[i] == col_label[j]:
                    final_label[i] = val_label[0][j]
                    break
        
        for i in range(len(final_label)):
            if final_label[i] == 0.0:
                for j in range(len(pivot_['mean'])):
                    if col_model[i] == pivot_.index.tolist()[j]:
                        final_label[i] = pivot_['mean'].tolist()[j]
        actual_hyb.append(final_label)
        table_hyb.append(pivot_)
        rating_hyb.append(value_rating)

    #     mae = mean_absolute_error(value_rating, final_actual[index_user])
    #     mae_hy.append(mae)
        
    # mean_mae_hy = np.mean(mae_hy)
    return table_hyb, rating_hyb, actual_hyb, col_model

In [80]:
hybrid_based_fil_doc2vec, value_rating_hyb_doc2vec, actual_hyb_doc2vec, col_model_doc2vec = hybrid_evaluation(data_for_model, data_for_user, selected_user, query_user)

In [81]:
hybrid_based_fil_tfidf, value_rating_hyb_tfidf, actual_hyb_tfidf, col_model_tfidf = hybrid_evaluation(data_for_model, data_for_user, selected_user, query_user, tfidf=True)

## COLLABORATIVE FILTERING

In [82]:
def colab_evaluation(data_for_model, data_for_user, selected_user, query_user):
    actual_colab = []
    table_colab = []
    rating_colab = []
    for index_user in range(len(selected_user)):
        _, part_of_query, part_of_model = data_preparation(data_for_model, data_for_user, selected_user[index_user], query_user[index_user])
        nama_mua, _, part_of_model = value_of_mua(query_data_todict, part_of_model)
        pivot = pd.pivot_table(part_of_model, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
        col_model = pivot.columns.tolist()
        val_model = np.array(pivot.values.tolist(), dtype=float)
        nama_user = np.array(pivot.index.tolist())
        pivot_query = pd.pivot_table(part_of_query, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
        val_query = pivot_query.values.tolist()
        col_query = pivot_query.columns.tolist()
        feature = np.zeros(len(col_model), dtype=float)
        for i in range(len(col_model)):
            for j in range(len(col_query)):
                if col_model[i] == col_query[j]:
                    feature[i] = val_query[0][j]
                    break
        
        cos_sim_user = cosine_similarity([feature], val_model)
        
        final_res = part_of_model.copy()
        final_res = final_res[['nama', 'nama_MUA', 'rating']]
        tmp_cos = np.zeros(len(part_of_model), dtype=float)
        for i in range(len(final_res)):
            for j in range(len(nama_user)):
                if final_res['nama'][i] == nama_user[j]:
                    tmp_cos[i] = cos_sim_user[0][j]
                    break

        final_res['mean_'] = tmp_cos
        higher_value = final_res.copy()
        higher_value = final_res.groupby("nama", as_index=False).mean_.agg(["mean"])
        list_nama = higher_value.nama[:15].tolist()
        pivot = final_res.copy()
        pivot = pivot[pivot.nama.isin(list_nama)].reset_index()
        pivot_ = pivot.groupby("nama_MUA").rating.agg(['count','mean'])
        pivot_['weight'] = pivot.groupby("nama_MUA").mean_.agg(['mean'])
        pivot_['predicted'] = pivot_["mean"] * pivot_['weight']
        pivot_ = pivot_.sort_values(by=["predicted"], ascending=False)
        value_rating = np.zeros(len(col_model), dtype=float)
        for i in range(len(pivot_.index)):
            for j in range(len(col_model)):
                if value_rating[j] == 0.0:
                    if col_model[j] == pivot_.index[i]:
                        value_rating[j] = pivot_["mean"][i] * pivot_["weight"][i]
                else:
                    continue
        tmp_data_recs = {'nama_mua':nama_mua, 'score':value_rating}
        mua_recs = pd.DataFrame(tmp_data_recs).sort_values(by=['score'], ignore_index=True, ascending=False)
        pivot_label = pd.pivot_table(part_of_query, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
        val_label = pivot_label.values.tolist()
        col_label = pivot_label.columns.tolist()
        final_label = np.zeros(len(col_model), dtype=float)
        for i in range(len(col_model)):
            for j in range(len(col_label)):
                if col_model[i] == col_label[j]:
                    final_label[i] = val_label[0][j]
                    break
        # mae = mean_absolute_error(value_rating, final_actual[index_user])
        # mae_col.append(mae)

        for i in range(len(final_label)):
            if final_label[i] == 0.0:
                for j in range(len(pivot_['mean'])):
                    if col_model[i] == pivot_.index.tolist()[j]:
                        final_label[i] = pivot_['mean'].tolist()[j]
        actual_colab.append(final_label)
        table_colab.append(pivot_)
        rating_colab.append(value_rating)
        
    # mean_mae_col = np.mean(mae_col)
    return table_colab, rating_colab, actual_colab

In [83]:
# def colab_evaluation(data_for_model, data_for_user, selected_user, query_user):
#     actual_colab = []
#     table_colab = []
#     rating_colab = []
#     for index_user in range(len(selected_user)):
#         _, part_of_query, part_of_model = data_preparation(data_for_model, data_for_user, selected_user[index_user], query_user[index_user])
#         nama_mua, _, part_of_model = value_of_mua(query_data_todict, part_of_model)
#         pivot = pd.pivot_table(part_of_model, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
#         col_model = pivot.columns.tolist()
#         val_model = np.array(pivot.values.tolist(), dtype=float)
#         nama_user = np.array(pivot.index.tolist())
#         pivot_query = pd.pivot_table(part_of_query, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
#         val_query = pivot_query.values.tolist()
#         col_query = pivot_query.columns.tolist()
#         feature = np.zeros(len(col_model), dtype=float)
#         for i in range(len(col_model)):
#             for j in range(len(col_query)):
#                 if col_model[i] == col_query[j]:
#                     feature[i] = val_query[0][j]
#                     break
#         knn = NearestNeighbors(metric='cosine', algorithm='brute')
#         knn.fit(val_model)
#         distances, indices = knn.kneighbors([feature], n_neighbors=10)
#         list_nama = []
#         for ln in indices[0]:
#              list_nama.append(nama_user[ln])
#         pivot = data_for_model[data_for_model.nama.isin(list_nama)].reset_index()
#         tmp_cos = np.empty(len(pivot), dtype=float)
#         for i in range(len(pivot.nama)):
#             for j in range(len(list_nama)):
#                 if pivot.nama[i] == list_nama[j]:
#                     tmp_cos[i] = distances[0][j]
#         pivot['cos'] = tmp_cos
#         pivot_ = pivot.groupby("nama_MUA").rating.agg(['count','mean'])
#         pivot_['cos'] = pivot.groupby("nama_MUA").cos.agg(['mean'])
#         pivot_['predicted'] = pivot_["mean"] * pivot_["cos"]
#         pivot_ = pivot_.sort_values(by=['predicted'], ascending=False)
#         value_rating = np.zeros(len(col_model), dtype=float)
#         for i in range(len(pivot_.index)):
#             for j in range(len(col_model)):
#                 if value_rating[j] == 0.0:
#                     if col_model[j] == pivot_.index[i]:
#                         value_rating[j] = pivot_["mean"][i] * pivot_["cos"][i]
#                 else:
#                     continue
#         tmp_data_recs = {'nama_mua':nama_mua, 'score':value_rating}
#         mua_recs = pd.DataFrame(tmp_data_recs).sort_values(by=['score'], ignore_index=True, ascending=False)
#         pivot_label = pd.pivot_table(part_of_query, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
#         val_label = pivot_label.values.tolist()
#         col_label = pivot_label.columns.tolist()
#         final_label = np.zeros(len(col_model), dtype=float)
#         for i in range(len(col_model)):
#             for j in range(len(col_label)):
#                 if col_model[i] == col_label[j]:
#                     final_label[i] = val_label[0][j]
#                     break
#         # mae = mean_absolute_error(value_rating, final_actual[index_user])
#         # mae_col.append(mae)

#         for i in range(len(final_label)):
#             if final_label[i] == 0.0:
#                 for j in range(len(pivot_['mean'])):
#                     if col_model[i] == pivot_.index.tolist()[j]:
#                         final_label[i] = pivot_['mean'].tolist()[j]
#         actual_colab.append(final_label)
#         table_colab.append(pivot_)
#         rating_colab.append(value_rating)
        
#     # mean_mae_col = np.mean(mae_col)
#     return table_colab, rating_colab, actual_colab

In [84]:
colab_based_fil, value_rating_colab, actual_colab = colab_evaluation(data_for_model, data_for_user, selected_user, query_user)

In [85]:
# colab_based_fil[colab_based_fil.score > 0.0]

In [86]:
colab_based_fil[0]

                                 count      mean    weight  predicted
nama_MUA
Bonita MUA Jember                    2  4.000000  1.000000   4.000000
Larasnada Make Up                    3  3.666667  0.735653   2.697393
Ardie Make Up & Salon                4  3.500000  0.593704   2.077965
Laura Make Up & Bridal               1  5.000000  0.206958   1.034790
Eka Make Over                        3  5.000000  0.187409   0.937043
Rias Manten Mariyam                  3  5.000000  0.187409   0.937043
Liyan Make Up Jember                 1  4.000000  0.206958   0.827832
Ulfa Beauty MUA                      1  4.000000  0.206958   0.827832
Rias Pengantin Criepno Lestari       3  3.000000  0.187409   0.562226
Salon Fatah                          5  4.400000  0.074963   0.329839
Griya Putri Make Up                  3  4.000000  0.068986   0.275944
Sanggar Rias dan Salon Esthie        3  3.000000  0.000000   0.000000
Sanggar Rias Nining                  3  5.000000  0.000000   0.000000
Salon Puput Jember                   2  4.000000  0.000000   0.000000
Salon Indah Sari                     2  3.000000  0.000000   0.000000
Rosa Indah Griya Rias Pengantin      2  4.000000  0.000000   0.000000
Abha Beauty Make Up Artist           4  5.000000  0.000000   0.000000
Rias Pengantin Ana                   2  3.000000  0.000000   0.000000
Novi Make Up                         3  4.000000  0.000000   0.000000
Arachma Make Up                      2  4.000000  0.000000   0.000000
Khaliza Make Up                      3  5.000000  0.000000   0.000000
Intan Rias Pengantin                 2  4.000000  0.000000   0.000000
Ifa Salon                            2  4.000000  0.000000   0.000000
Aulia Rias Pengantin                 2  5.000000  0.000000   0.000000
Yulia Salon & Bridal                 5  4.600000  0.000000   0.000000

## CONTENT BASED FILTERING

In [87]:
def content_evaluation(data_for_model, data_for_user, selected_user, query_use):
    actual_content = []
    table_content = []
    rating_content = []
    for index_user in range(len(selected_user)):
        _, part_of_query, part_of_model = data_preparation(data_for_model, data_for_user, selected_user[index_user], query_user[index_user])
        nama_mua, value_mua, part_of_model = value_of_mua(query_data_todict, part_of_model)
        pivot = pd.pivot_table(part_of_model, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
        col_model = pivot.columns.tolist()
        weight_content = np.empty(len(part_of_model), dtype=float)
        for i in range(len(part_of_model)):
            for j in range(len(nama_mua)):
                if part_of_model["nama_MUA"][i] == nama_mua[j]:
                    weight_content[i] = value_mua[j]

        pm = part_of_model.copy()
        pm["cos"] = weight_content
        pivot_ = pm.groupby("nama_MUA").rating.agg(['count','mean'])
        pivot_['cos'] = pm.groupby("nama_MUA").cos.agg(['mean'])
        pivot_['predicted'] = pivot_["mean"] * pivot_["cos"]
        pivot_ = pivot_.sort_values(by=['predicted'], ascending=False)
        pivot_ = pivot_[:15]
        value_rating = np.zeros(len(col_model), dtype=float)
        for i in range(len(pivot_.index)):
            for j in range(len(col_model)):
                if value_rating[j] == 0.0:
                    if col_model[j] == pivot_.index[i]:
                        value_rating[j] = pivot_["mean"][i] * pivot_["cos"][i]
                else:
                    continue
        tmp_data_recs = {'nama_mua':nama_mua, 'score':value_rating}
        mua_recs = pd.DataFrame(tmp_data_recs).sort_values(by=['score'], ignore_index=True, ascending=False)
        pivot_label = pd.pivot_table(part_of_query, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
        val_label = pivot_label.values.tolist()
        col_label = pivot_label.columns.tolist()
        final_label = np.zeros(len(col_model), dtype=float)
        for i in range(len(col_model)):
            for j in range(len(col_label)):
                if col_model[i] == col_label[j]:
                    final_label[i] = val_label[0][j]
                    break
        # mae = mean_absolute_error(value_rating, final_actual[index_user])
        # mae_con.append(mae)

        for i in range(len(final_label)):
            if final_label[i] == 0.0:
                for j in range(len(pivot_['mean'])):
                    if col_model[i] == pivot_.index.tolist()[j]:
                        final_label[i] = pivot_['mean'].tolist()[j]
        actual_content.append(final_label)
        table_content.append(pivot_)
        rating_content.append(value_rating)
        
    # mean_mae_con = np.mean(mae_con)
    return table_content, rating_content, actual_content

In [88]:
content_based_fil, value_rating_content, actual_content = content_evaluation(data_for_model, data_for_user, selected_user, query_user)

In [89]:
# content_based_fil[content_based_fil.score > 0.0]

In [90]:
content_based_fil[0]

                                  count      mean       cos  predicted
nama_MUA
Gasebo Make Up Dekorasi               4  5.000000  1.049127   5.245633
Aira Salon                            2  5.000000  1.042228   5.211138
Rias Pengantin Sapphire               4  5.000000  1.037850   5.189252
RR Make Up                            3  5.000000  1.030315   5.151574
Aulia Rias Pengantin                  4  5.000000  1.028396   5.141979
Khaliza Make Up                       3  5.000000  1.026153   5.130765
Sanggar Rias Nining                   5  5.000000  1.025939   5.129697
Winda Wijaya MUA & Beauty Studio      3  5.000000  1.025373   5.126867
Sanggar Rias Cantik Tina              2  5.000000  1.023290   5.116449
Wedding Gallery Make Over             2  5.000000  1.022899   5.114494
Abha Beauty Make Up Artist            4  5.000000  1.021839   5.109196
Yasmin MUA dan Henna Jember           2  4.000000  1.218679   4.874716
Ulfa Beauty MUA                       3  4.666667  1.031532   4.813817
Eka Make Over                         5  4.600000  1.042972   4.797671
Rias Manten Mariyam                   5  4.600000  1.025225   4.716037

In [91]:
merge_actual = [[i, j, z] for i,j,z in zip(actual_colab, actual_content, actual_hyb_doc2vec)]
final_actual = []
for i in range(len(merge_actual)):
    tmp = []
    for j in range(len(merge_actual[i][0])):
        sfmean = statistics.fmean([merge_actual[i][0][j], merge_actual[i][1][j], merge_actual[i][2][j]])
        tmp.append(round(sfmean))
    final_actual.append(tmp)

In [92]:
def mae_evaluation(predicted_data, actual_data, hybrid=False):
    maeUser = []
    rmseUser = []

    for i in range(len(predicted_data)):
        mae = mean_absolute_error(predicted_data[i], actual_data[i])
        rmse = mean_squared_error(predicted_data[i], actual_data[i], squared=False)
        maeUser.append(mae)
        rmseUser.append(rmse)
    mae = np.mean(maeUser)
    rmse = np.mean(rmseUser)
    if hybrid == True:
        return mae, rmse, maeUser
    else:
        return mae, rmse

In [93]:
mae_col, rmse_col = mae_evaluation(value_rating_colab, final_actual)
mae_con, rmse_con = mae_evaluation(value_rating_content, final_actual)
mae_hyb, rmse_hyb, mae = mae_evaluation(value_rating_hyb_doc2vec, final_actual, hybrid=True)

In [94]:
data_evaluasi = {
    'Metode' : ['Collaborative Filtering', 'Content Based Filtering', 'Hybrid Filtering'],
    'MAE' : [mae_col, mae_con, mae_hyb],
    'RMSE' : [rmse_col, rmse_con, rmse_hyb]
}

tabel_evaluasi = pd.DataFrame(data_evaluasi)
tabel_evaluasi = tabel_evaluasi.sort_values(by=['MAE'], ignore_index=True)
tabel_evaluasi

                    Metode       MAE      RMSE
0         Hybrid Filtering  0.986916  1.363108
1  Content Based Filtering  1.492279  1.946222
2  Collaborative Filtering  1.596516  2.056892

In [95]:
mae_hyb_tfidf, rmse_hyb_tfidf, mae_tfidf = mae_evaluation(value_rating_hyb_tfidf, final_actual, hybrid=True)
data_evaluasi_hyb = {
    'Metode' : ['TFIDF', 'Doc2vec'],
    'MAE' : [mae_hyb_tfidf, mae_hyb],
    'RMSE' : [rmse_hyb_tfidf, rmse_hyb]
}

tabel_evaluasi = pd.DataFrame(data_evaluasi_hyb)
tabel_evaluasi = tabel_evaluasi.sort_values(by=['MAE'], ignore_index=True)
tabel_evaluasi

    Metode       MAE      RMSE
0  Doc2vec  0.986916  1.363108
1    TFIDF  1.191766  1.630573

In [96]:
def testing_user(data_for_model, data_for_user, index_usr):
    query_data_todict, part_of_query, part_of_model = data_preparation(data_for_model, data_for_user, selected_user[index_usr], query_user[index_usr])
    nama_mua, value_mua, part_of_model = value_of_mua(query_data_todict, part_of_model)
    pivot = pd.pivot_table(part_of_model, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
    col_model = pivot.columns.tolist()
    val_model = np.array(pivot.values.tolist(), dtype=float)
    nama_user = np.array(pivot.index.tolist())
    pivot_query = pd.pivot_table(part_of_query, columns='nama_MUA', index='nama', values='rating', aggfunc='mean', fill_value=0)
    val_query = pivot_query.values.tolist()
    col_query = pivot_query.columns.tolist()
    feature = np.zeros(len(col_model), dtype=float)
    for i in range(len(col_model)):
        for j in range(len(col_query)):
            if col_model[i] == col_query[j]:
                feature[i] = val_query[0][j]
                break
    
    # nmf_model = NMF(3)
    # f = nmf_model.fit_transform([feature])
    # m = nmf_model.fit_transform(val_model)
    cos_sim_user = cosine_similarity([feature], val_model)

    weight_user = np.empty(len(part_of_model), dtype=float)
    for i in range(len(part_of_model)):
        for j in range(len(nama_user)):
            if part_of_model["nama"][i] == nama_user[j]:
                weight_user[i] = cos_sim_user[0][j]

    weight_user = np.empty(len(part_of_model), dtype=float)
    for i in range(len(part_of_model)):
        for j in range(len(nama_user)):
            if part_of_model["nama"][i] == nama_user[j]:
                weight_user[i] = cos_sim_user[0][j]
        
    weight_content = np.empty(len(part_of_model), dtype=float)
    for i in range(len(part_of_model)):
        for j in range(len(nama_mua)):
            if part_of_model["nama_MUA"][i] == nama_mua[j]:
                weight_content[i] = value_mua[j]
        
    final_res = part_of_model.copy()
    final_res = final_res[['nama', 'nama_MUA']]
    final_res['user'] = weight_user
    final_res['content'] = weight_content

    mean_weight = np.zeros(len(part_of_model), dtype=float)
    for i in range(len(part_of_model)):
        mean_weight[i] = statistics.harmonic_mean([weight_user[i] + np.min(weight_user[np.nonzero(weight_user)]),  weight_content[i]]) 
    final_res['mean_'] = mean_weight
    higher_value = final_res.copy()
    higher_value = final_res.groupby("nama", as_index=False).mean_.agg(["mean"])
    u = final_res.groupby("nama", as_index=False).user.agg(["mean"])
    higher_value['weight_user'] = u['mean']
    c = final_res.groupby("nama", as_index=False).content.agg(["mean"])
    higher_value['weight_content'] = c['mean']
    higher_value = higher_value.sort_values(by=['mean'], ignore_index=True, ascending=False)
    print(higher_value)
    list_nama = higher_value.nama[:15].tolist()
    pivot = part_of_model.copy()
    pivot['mean_'] = mean_weight
    pivot = pivot[pivot.nama.isin(list_nama)].reset_index()
    distance = pivot[['nama_MUA','distance']]
    produk = pivot[['nama_MUA', 'sim']]
    desc = pivot[['nama_MUA', 'produk_makeup', 'shade', 'skin_color', 'skin_undertone']]
    desc['desc'] = desc['produk_makeup'] + ' - ' + desc['shade'] + ' - ' + desc['skin_color'] + ' - ' + desc['skin_undertone']
    pivot_ = pivot.groupby("nama_MUA").rating.agg(['count','mean'])
    pivot_['nama_MUA'] = desc.groupby('nama_MUA').first().index.to_list()
    pivot_['weight'] = pivot.groupby("nama_MUA").mean_.agg(['mean'])
    pivot_['score'] = pivot_["mean"] * pivot_['weight']
    pivot_['desc'] = desc.groupby('nama_MUA').agg({'desc': lambda x: list(x)}).reset_index()['desc'].values
    pivot_['distance'] = distance.groupby("nama_MUA").distance.agg(['mean'])
    pivot_['sim'] = produk.groupby("nama_MUA").sim.agg(['mean'])
    pivot_ = pivot_.sort_values(by=['score'], ignore_index=True, ascending=False)
    return pivot_

In [97]:
#highest MAE
mae[mae.index(min(mae))]

0.8408625449576367

In [98]:
#highest
idx_high = mae.index(min(mae))
data_for_model.iloc[[selected_user[idx_high]]]

,no,nama,nama_MUA,latitude,longitude,produk_makeup,shade,skin_color,skin_undertone,kategori_harga,latitude.1,longtitude,rating,desc
10,17,anggia pradita a,Aulia Rias Pengantin,-8.367258,113.601457,la tulipe cover foundation,natural (putih),light,cool,0,-8.367258,113.601457,5,la tulipe cover foundation natural putih light...

In [99]:
h_pivot = testing_user(data_for_model, data_for_user, idx_high)
h_pivot

                              nama      mean  weight_user  weight_content
0                 anggia pradita a  1.135275     1.000000        1.036383
1                 hikmatul hasanah  0.923687     0.577350        1.037491
2         vika aprilia sinta putri  0.750160     0.333333        1.034708
3              calista devi aqilah  0.742623     0.318788        1.052367
4                     maulina vira  0.688614     0.259828        1.039410
5                    anissa serina  0.684599     0.255031        1.040736
6           azahra aura wiritanaya  0.413066     0.000000        1.086076
7            sonia arista firnanda  0.413066     0.000000        1.086076
8               rodhiyyatul hikmah  0.412430     0.000000        1.077346
9              priska sisilia dewi  0.411572     0.000000        1.065732
10                frensisca amelia  0.411572     0.000000        1.065732
11        dwi anti wulandari putri  0.410087     0.000000        1.046122
12              trevina wigianiska  0.410001     0.000000        1.044994
13                 indah febrianti  0.409889     0.000000        1.043545
14          rahma kamilla nur imam  0.409839     0.000000        1.042902
15          zahra salsabila bilqis  0.409839     0.000000        1.042902
16      yuricha mahargiyani wijaya  0.409822     0.000000        1.042700
17       callista febriana erwanto  0.409778     0.000000        1.042271
18                       azwa sasa  0.409686     0.000000        1.040915
19                 indi miftahul h  0.409635     0.000000        1.040258
20                    zyanti laila  0.409627     0.000000        1.040201
21                       adera zia  0.409611     0.000000        1.039984
22                 rania salsabila  0.409531     0.000000        1.038920
23                 septia maharani  0.409520     0.000000        1.038779
24            donna rachel elkarim  0.409518     0.000000        1.038748
25                       dwi rahma  0.409439     0.000000        1.037778
26                 diajeng agustin  0.409414     0.000000        1.037414
27           moh wahyu nur hidayah  0.409414     0.000000        1.037414
28                     dea wanda p  0.409321     0.000000        1.036225
29                     denada ilma  0.409321     0.000000        1.036223
30                   maryam kafila  0.409321     0.000000        1.036223
31                   eka febrianti  0.409288     0.000000        1.035795
32          zainata hanum masruroh  0.409232     0.000000        1.035118
33             dillah ayu firnanda  0.409210     0.000000        1.034802
34                   anggun yeriam  0.409210     0.000000        1.034802
35           arsya putri rifasanti  0.409210     0.000000        1.034795
36               olivia ramadhania  0.409187     0.000000        1.034511
37          najwa anatasya pribadi  0.409176     0.000000        1.034367
38              nindy marsa wemona  0.409176     0.000000        1.034367
39                   alevia frista  0.409168     0.000000        1.034266
40                     hania septi  0.408968     0.000000        1.031719
41               diah innur ainiah  0.408968     0.000000        1.031719
42         ulifah azwarani rochmah  0.408968     0.000000        1.031719
43                   nadia safitri  0.408758     0.000000        1.029052
44                      yuna ayana  0.408692     0.000000        1.028207
45  lailatul maghfiroh dwi octavia  0.408565     0.000000        1.026605
46                  hawila juliana  0.408565     0.000000        1.026605
47             siti aisyah humaira  0.408563     0.000000        1.026573
48             dwinta nasya amelia  0.408545     0.000000        1.026347
49                      dinda dira  0.408430     0.000000        1.024899
50                    novia wijaya  0.408199     0.000000        1.021997

,count,mean,nama_MUA,weight,score,desc,distance,sim
0,2,4.000000,Intan Rias Pengantin,1.135034,4.540136,[la tulipe cover foundation - natural (putih) ...,16.54,0.036017
1,2,5.000000,Sanggar Rias Cantik Tina,0.751256,3.756279,[la tulipe cover foundation - suntan (sawo mat...,17.80,0.038909
2,6,4.333333,Griya Putri Make Up,0.856973,3.713549,[la tulipe cover foundation - suntan (sawo mat...,24.76,0.035711
3,3,5.000000,Khaliza Make Up,0.737058,3.685290,[la tulipe cover foundation - natural (putih) ...,2.02,0.030118
4,8,4.000000,Yulia Salon & Bridal,0.907470,3.629882,[LT Pro Smooth Corrector Cream Foundation - wa...,0.88,0.037526
5,1,5.000000,Winda Wijaya MUA & Beauty Studio,0.687842,3.439211,[la tulipe cover foundation - suntan (sawo mat...,28.02,0.040570
6,1,5.000000,Laura Make Up & Bridal,0.685116,3.425579,[la tulipe cover foundation - natural (putih) ...,21.89,0.032670
7,3,4.666667,Ulfa Beauty MUA,0.688844,3.214603,[la tulipe cover foundation - suntan (sawo mat...,39.18,0.047065
8,2,4.000000,Hiekmaa MUA,0.747946,2.991785,[la tulipe cover foundation - rachel 2 (kuning...,20.69,0.026349
9,3,4.000000,Novi Make Up,0.745688,2.982750,[LT Pro smooth corrector cream foundation - na...,6.29,0.064553
10,1,4.000000,Liyan Make Up Jember,0.683562,2.734249,[la tulipe cover foundation - natural (putih) ...,1055.54,0.035982
11,5,4.400000,Salon Fatah,0.614256,2.702727,[la tulipe cover foundation - natural (putih) ...,17.84,0.089901
12,2,3.000000,Sanggar Rias Pengantin Dewi Balqis,0.751019,2.253057,[la tulipe cover foundation - natural (putih) ...,25.28,0.028218
13,5,5.000000,Sanggar Rias Nining,0.413066,2.065329,[Make Over Ultra Cover Liquid Foundation - vel...,18.03,0.086095
14,1,3.000000,Bonita MUA Jember,0.686963,2.060889,[la tulipe cover foundation - suntan (sawo mat...,28.98,0.039407
15,4,5.000000,Gasebo Make Up Dekorasi,0.411572,2.057859,[Make Over Ultra Cover Liquid Foundation - och...,27.78,0.065780
16,1,3.000000,Larasnada Make Up,0.684854,2.054561,[la tulipe cover foundation - natural (putih) ...,31.74,0.041237
17,3,5.000000,RR Make Up,0.409889,2.049446,[LT Pro smooth corrector cream foundation - ye...,20.60,0.043564
18,2,5.000000,Rias Pengantin Sapphire,0.409839,2.049197,[LT Pro Smooth Corrector Cream Foundation - ye...,25.29,0.033114
19,2,4.000000,Sanggar Rias Busana Kartika Budaya,0.410087,1.640350,[la tulipe cover foundation - natural (putih) ...,7.46,0.046158
20,1,2.000000,Nonarika Make Up & Hairdo,0.688511,1.377022,[la tulipe cover foundation - suntan (sawo mat...,23.28,0.041334
21,3,3.000000,Salon Vinell,0.410001,1.230002,[LT Pro smooth corrector cream foundation - wa...,23.45,0.051852

In [627]:
h_pivot.to_excel('highest2.xlsx')

In [100]:
#lowest MAE
mae[mae.index(max(mae))]

1.1893415973232309

In [101]:
#lowest
idx_low = mae.index(max(mae))
data_for_model.iloc[[selected_user[idx_low]]]

,no,nama,nama_MUA,latitude,longitude,produk_makeup,shade,skin_color,skin_undertone,kategori_harga,latitude.1,longtitude,rating,desc
73,80,dwi rahma,Bonita MUA Jember,-8.139019,113.731123,LT Pro smooth corrector cream foundation,natural (kuning langsat),medium,neutral,1,-8.139019,113.728548,4,lt pro smooth corrector cream foundation natur...

In [102]:
h_pivot = testing_user(data_for_model, data_for_user, idx_low)
h_pivot

                              nama      mean  weight_user  weight_content
0                        dwi rahma  1.104615     1.000000        1.026266
1                     zyanti laila  0.681502     0.312348        1.033743
2         vika aprilia sinta putri  0.567702     0.195959        1.029467
3              siti aisyah humaira  0.330233     0.000000        1.049079
4                  rania salsabila  0.330176     0.000000        1.047911
5                     maulina vira  0.329835     0.000000        1.041106
6                  septia maharani  0.329542     0.000000        1.035275
7                    anissa serina  0.329432     0.000000        1.033141
8            arsya putri rifasanti  0.329411     0.000000        1.032694
9         dwi anti wulandari putri  0.329348     0.000000        1.031455
10          azahra aura wiritanaya  0.329339     0.000000        1.031288
11           sonia arista firnanda  0.329339     0.000000        1.031288
12          zainata hanum masruroh  0.329332     0.000000        1.031213
13                       adera zia  0.329303     0.000000        1.030585
14                anggia pradita a  0.329289     0.000000        1.030340
15      yuricha mahargiyani wijaya  0.329193     0.000000        1.028444
16                   maryam kafila  0.329170     0.000000        1.027978
17                     denada ilma  0.329170     0.000000        1.027978
18             priska sisilia dewi  0.329161     0.000000        1.027799
19                frensisca amelia  0.329161     0.000000        1.027799
20              nindy marsa wemona  0.329136     0.000000        1.027312
21          najwa anatasya pribadi  0.329136     0.000000        1.027312
22                     dea wanda p  0.329101     0.000000        1.026638
23               diah innur ainiah  0.329092     0.000000        1.026449
24                     hania septi  0.329092     0.000000        1.026449
25         ulifah azwarani rochmah  0.329092     0.000000        1.026449
26             calista devi aqilah  0.329089     0.000000        1.026446
27       callista febriana erwanto  0.329080     0.000000        1.026250
28              trevina wigianiska  0.329008     0.000000        1.024832
29           moh wahyu nur hidayah  0.328979     0.000000        1.024254
30                 diajeng agustin  0.328979     0.000000        1.024254
31              rodhiyyatul hikmah  0.328965     0.000000        1.023985
32              suci violeta putri  0.328938     0.000000        1.023476
33                hikmatul hasanah  0.328927     0.000000        1.023263
34                    novia wijaya  0.328924     0.000000        1.023194
35          zahra salsabila bilqis  0.328864     0.000000        1.022035
36          rahma kamilla nur imam  0.328864     0.000000        1.022035
37            donna rachel elkarim  0.328848     0.000000        1.021737
38                 indi miftahul h  0.328824     0.000000        1.021262
39                 indah febrianti  0.328742     0.000000        1.019694
40                   alevia frista  0.328732     0.000000        1.019490
41               olivia ramadhania  0.328673     0.000000        1.018354
42                      dinda dira  0.328609     0.000000        1.017137
43                   eka febrianti  0.328592     0.000000        1.016812
44                   nadia safitri  0.328520     0.000000        1.015435
45                       azwa sasa  0.328506     0.000000        1.015154
46                   anggun yeriam  0.328488     0.000000        1.014809
47             dillah ayu firnanda  0.328488     0.000000        1.014809
48  lailatul maghfiroh dwi octavia  0.328477     0.000000        1.014604
49                  hawila juliana  0.328477     0.000000        1.014604
50             dwinta nasya amelia  0.328417     0.000000        1.013457
51                      yuna ayana  0.328369     0.000000        1.012550

,count,mean,nama_MUA,weight,score,desc,distance,sim
0,3,4.333333,Ayuk Rias Pengantin,0.827041,3.583843,[LT Pro smooth corrector cream foundation - na...,21.84,0.042879
1,2,3.000000,Iqlim Rias Pengantin,1.101191,3.303572,[LT Pro smooth corrector cream foundation - na...,9.06,0.020358
2,4,3.500000,Sanggar Rias Pengantin Dewi Balqis,0.835061,2.922713,[la tulipe cover foundation - rachel 2 (kuning...,3.90,0.023928
3,2,5.000000,Sanggar Rias Cantik Tina,0.569133,2.845667,[la tulipe cover foundation - rachel 1 (kuning...,11.35,0.038928
4,2,4.000000,Yasmin MUA dan Henna Jember,0.680318,2.721273,[la tulipe cover foundation - rachel 1 (kuning...,11.69,0.028313
5,3,4.333333,Laura Make Up & Bridal,0.564242,2.445047,[la tulipe cover foundation - natural (putih) ...,7.62,0.022961
6,2,4.000000,Hiekmaa MUA,0.566123,2.264490,[la tulipe cover foundation - natural (putih) ...,8.39,0.019141
7,4,4.000000,Dinda Wijaya Make Up,0.504684,2.018735,[Ultima II Wonderwear Cream Make Up - linen - ...,13.72,0.030838
8,5,4.200000,Larasnada Make Up,0.470490,1.976059,[la tulipe cover foundation - rachel 1 (kuning...,2.78,0.035556
9,6,4.333333,Griya Putri Make Up,0.409282,1.773557,[Wardah Everyday Luminous Liquid Foundation - ...,4.52,0.036002
10,3,5.000000,Winda Wijaya MUA & Beauty Studio,0.329983,1.649916,[la tulipe cover foundation - natural (putih) ...,1.36,0.044084
11,5,5.000000,Sanggar Rias Nining,0.329339,1.646696,[la tulipe cover foundation - suntan (sawo mat...,11.86,0.031307
12,2,5.000000,Wedding Gallery Make Over,0.329005,1.645023,[la tulipe cover foundation - rachel 1 (kuning...,3.99,0.024794
13,2,5.000000,Aulia Rias Pengantin,0.328938,1.644692,[la tulipe cover foundation - suntan (sawo mat...,28.98,0.022727
14,3,4.666667,Ulfa Beauty MUA,0.329720,1.538694,[la tulipe cover foundation - suntan (sawo mat...,47.66,0.038826
15,3,4.000000,Ella Surya Make Up,0.330233,1.320934,[Maybelline Fit Me Matte + Poreless Liquid Fou...,23.98,0.049098
16,3,4.000000,Nonarika Make Up & Hairdo,0.330176,1.320702,[la tulipe cover foundation - suntan (sawo mat...,22.04,0.047946
17,2,4.000000,Intan Rias Pengantin,0.329713,1.318851,[la tulipe cover foundation - natural (putih) ...,12.50,0.038690
18,2,4.000000,Sanggar Rias Busana Kartika Budaya,0.329348,1.317391,[la tulipe cover foundation - natural (putih) ...,31.27,0.031491
19,2,4.000000,Yulia Salon & Bridal,0.328927,1.315710,[Ultima II Wonderwear Cream Make Up - linen - ...,29.31,0.019698
20,1,4.000000,Liyan Make Up Jember,0.328818,1.315273,[la tulipe cover foundation - natural (putih) ...,1069.70,0.021192
21,3,3.000000,Rias Pengantin Azizah,0.329542,0.988626,[la tulipe cover foundation - natural (putih) ...,12.61,0.035294
22,3,3.000000,Sanggar Rias dan Salon Esthie,0.329411,0.988233,[la tulipe cover foundation - natural (putih) ...,13.18,0.032713
23,2,3.000000,Ardie Make Up & Salon,0.329194,0.987582,[la tulipe cover foundation - suntan (sawo mat...,8.45,0.013663
24,2,3.000000,Salon Vinell,0.329008,0.987025,[la tulipe cover foundation - suntan (sawo mat...,6.34,0.026365

In [631]:
h_pivot.to_excel('lowest2.xlsx')

In [479]:
# rating_test = []
# for i in range(len(query_user)):
#     rating_dict = dict()
#     for j in range(len(col_model)):
#         rating_dict[col_model[j]] = final_actual[i][j]
#     rating_test.append(rating_dict)

# dataTesting = pd.DataFrame.from_dict(rating_test)
# dataTesting['user'] = query_user
# dataTesting.set_index(['user'])
# dataTesting.to_excel('dataTesting2.xlsx')

In [43]:
# predicted_rating = []
# for i in range(len(query_user)):
#     rating_dict = dict()
#     for j in range(len(col_model)):
#         rating_dict[col_model[j]] = value_rating_hyb[i][j]
#     predicted_rating.append(rating_dict)

# predictedRating = pd.DataFrame.from_dict(predicted_rating)
# predictedRating['user'] = query_user
# predictedRating.set_index(['user'])
# predictedRating.to_excel('predictedRating2.xlsx')